$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("/project/fonts/iconfont.woff") format("woff"), url("/project/fonts/iconfont.ttf") format("truetype");
}



body {
	background-color: #eeeeee !important;
}
